.redCss{
	color:red;
}
 
.titlespan{
	color:#000;
	font-size:18px;
	font-weight:bold;
}

.grid-even-row{
	background-color: #e8e8e8;
}

 
 .baseCss{ 
	border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d0d0d0;
}
 
 
.form-control{ 
   box-shadow: none;
}
 
 
 .x-dialog.x-dialog-normal .x-dialog-body {
    padding: 1px;
}

.linkbtn{
	color:#4F77AA;margin-right:2px;margin-top:2px;
	padding:2px;
}

.rowbtn{
	font-size:18px;
	font-weight:bold;
	padding:5px;
	margin:0px;  
}

.batchcss{ 
	width:130px;
	height:20px;
	line-height:20px;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	font-size:12px;
}

.countcss{ 
	width:80px;
	height:20px;
	line-height:20px;
	text-align:center;
	padding-left:2px;
	padding-right:2px; 
}
 
.flexdiv{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	text-align:left; 
	justify-content:flex-end;
}
.flexdivleft{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	text-align:left; 
	justify-content:flex-start;
}


.findbtn{
	color:#fff;background-color:#4F77AA;margin-right:1px;margin-bottom:4px;
}

.itemaddbtn{
	color:#fff;background-color:#4F77AA;margin-right:0px;margin-bottom:4px;
}

.gridoverflow{
	overflow-x:hidden; 
}
.x-row,.x-col{
	padding:0px;
	margin:0px;
}

.row,.col,.x-label-edit{
	margin-top:0px;margin-bottom:0px;padding-top:1px;padding-bottom:1px;
}

.customercss .form-control[readonly],.form-control[disabled]{
	cursor:pointer;
}


.dropdownhide{
	display:none;
}

.input-frame {
	border-radius: 4px;
	transition: all 0.3s ease;
}

.input-frame:hover {
	border-color: black;
}

.oprbtn {
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(90, 103, 216, 0.3);
}

.oprbtn:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 5px 12px rgba(90, 103, 216, 0.4);
}

.oprbtn:active {
    transform: scale(0.97) !important; 
    box-shadow: 0 2px 6px rgba(90, 103, 216, 0.7) !important; 
    transition: all 0.1s ease-in !important; 
}

.gridbtn {
	transition: all 0.3s ease;
	title = "";
}

.gridbtn:hover {
	text-decoration: underline;
	transform: translateY(-1.0px);
}

.gridbtn:active {
	color : #4f59aa;
	text-decoration: underline;
	transform: scale(0.97) !important;
	transition: all 0.1s ease-in !important; 
}

.mainDiv {
  flex: 4 1 0%; /* 设置flex-basis为0% */
  min-width: 0; /* 允许元素缩小到内容宽度以下 */
  overflow: auto; /* 添加滚动条处理溢出内容 */
}

.contentDiv {
  display: flex;
  width: 100%;
}

.editDiv {
  flex: 0 1 0%;
  min-width: 0; /* 允许编辑区域适应剩余空间 */
}