.x-row {
	padding: 0px;
	margin: 0px;
}

.x-col {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.bottomborder { 
	border-bottom: 1px solid #000;
}

.titlecss { 
	font-size: 24px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.addresscss {
	color: #000;
	text-align: center;
	font-size:13px;
}

.fontcss {
	font-size: 14px;
	color: #000;
	display: flex;
	justify-content: left;
	align-items: left;
	padding-left: 10px; 
	line-height:14px;
	text-align:left;
	word-break:break-all;word-wrap:break-word; white-space:normal;
}

.totalBigcss {
	font-size: 14px; 
	font-weight: bold;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: baseline; 
}

.totalcss {
	font-size: 14px;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: baseline; 
}

.listpop {
	padding: 10px;
	background-color: white;
	border:solid 2px #C0C0C0;
}

.btncss{
	border:1px solid #D2D6DE; color:#4F77AA;margin-right:5px;padding:5px;
}

.tfontcss {
	font-size: 12px;
	color: #000;
	display: flex;
	justify-content: left;
	align-items: center;
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

.x-grid,.x-grid-hdiv,.x-grid-bdiv {
	overflow-x: hidden;
	overflow-y: hidden;  
}

.x-grid tr.jqgrow td {  
	padding: 1px;
}

.x-state-highlight {
	background-color: #fff;
}

tr.x-state-hover,th.x-state-hover{
    background:#fff !important;
}
   .x-checkbox input[type="checkbox"]:checked+label:before{
	background-color:#4F77AA;
}

 

.x-grid-widget-header {
     border-top: 2px solid #000; 
     border-bottom-color: #000;  
}

.x-grid-widget {
     border-left: 2px solid #000; 
     border-bottom:2px solid #000; 
     border-right-color: #000; 
      
}
.x-grid-hdiv{
	 border-bottom-color: #000;
}

.x-grid tr.jqgrow td {
   border-color: #000; 
}
  
.x-grid .x-grid-htable th{
	 border-color: #000; 
}
.x-grid tr.footrow td {
   border-color: #000; 
}
