.x-control-group-title{
	background-color: #fff;
	color:#000;
	padding:0px;
} 
.grid-even-row{
	background-color: #e8e8e8;
}
  
 .baseCss{
	border-style:solid  solid  solid  solid;
	border-width:thin thin thin thin;
	border-color:#E0E0E0; 
}
 
.btnCss{
	padding-left:0px;
	padding-right:5px;
}

.form-control{ 
   box-shadow: none;
}
 
 
 .x-dialog.x-dialog-normal .x-dialog-body {
    padding: 1px;
}

.gridoverflow{
	overflow-x:hidden; 
}

.x-state-highlight{
	background-color:#E8E8E8;
}

.toolbarbtn{
	margin-bottom:5px; margin-right:2px;border-radius:2px;
}
.custombtn{
	margin-bottom:5px; margin-right:2px;color:#fff;background-color:#4F77AA; 
}

.refeshbtn{
	margin-bottom:5px; margin-right:2px;color:#fff;background-color:#4F77AA; 
}
.findbtn{
	color:#fff;background-color:#4F77AA; 
}

.rowbtn{
	background-color:#fff;color:#fff;background-color:#4F77AA; margin-left:2px;margin-top:2px;
}

.linkbtn{
	color:#4F77AA;margin-right:2px;margin-top:2px;
	padding:2px;
}

.selectgridbtn{
	margin-bottom:5px; border-radius:2px;
}

.flexdiv{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap; 
}

.toggle{
	background-color:#F9FAFC;border:1px solid #E0E0E0;height:15px;
}

.gridoverflow{
	overflow-x:hidden; 
}

.arrow{
	text-align:center;
	height:100%;width:50%;position:relative;
}

.arrow-top {
  width: 0;   
  height: 0;   
  border-left: 9px solid transparent; 
  border-right: 9px solid transparent;
  border-bottom: 9px solid #4F77AA; 
  font-size: 0;  
  line-height: 0; 
  margin-top:2px;
  position:absolute; 
}

.arrow-bottom {
  width: 0;   
  height: 0;   
  border-left: 9px solid transparent;  
  border-right: 9px solid transparent; 
  border-top: 9px solid #4F77AA;
  font-size: 0;  
  line-height: 0; 
  margin-top:2px;
  position:absolute; 
}

.mygroup .btn{
	color:#fff; 
	font-size:12px;
	border-color:#D2D6DE; 
	background: #4F77AA;
	padding:5px 6px;
	margin-bottom:5px;
}

.input-frame {
	border-radius: 4px;
	transition: all 0.3s ease;
}

.input-frame:hover {
	border-color: black;
}

.oprbtn {
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(90, 103, 216, 0.3);
}

.oprbtn:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 5px 12px rgba(90, 103, 216, 0.4);
}

.oprbtn:active {
    transform: scale(0.97) !important; 
    box-shadow: 0 2px 6px rgba(90, 103, 216, 0.7) !important; 
    transition: all 0.1s ease-in !important; 
}

