.x-control-group-title{
	background-color: #fff;
	color:#000;
	padding:0px;
} 
.grid-even-row{
	background-color: #e8e8e8;
}
  
 .baseCss{
	border-style:solid  solid  solid  solid;
	border-width:thin thin thin thin;
	border-color:#E0E0E0; 
}
 
.btnCss{
	padding-left:0px;
	padding-right:5px;
}

.form-control{ 
   box-shadow: none;
}
 
 
 .x-dialog.x-dialog-normal .x-dialog-body {
    padding: 1px;
}

.refeshbtn{
    position:absolute;top:5px;
	margin-bottom:5px; margin-right:5px;border:1px solid #D2D6DE; color:#4F77AA;
}

.x-row{
	padding:0px;
	margin:0px;
}
  
.x-col{
	padding:0px 0px 0px 5px;
}
.x-label{
	font-weight:bold;
}

.gridoverflow{
	overflow-x:hidden; 
}

.row,.col,.x-label-edit{
	margin-top:0px;margin-bottom:0px;padding-top:1px;padding-bottom:1px;
}