.x-control-group-title{
	background-color: #fff;
	color:#000;
	padding:0px;
} 
.grid-even-row{
	background-color: #e8e8e8;
}
  
 .baseCss{
	border-style:solid  solid  solid  solid;
	border-width:thin thin thin thin;
	border-color:#E0E0E0; 
}
 
.btnCss{
	padding-left:0px;
	padding-right:5px;
}

.form-control{ 
   box-shadow: none;
}
 
 
 .x-dialog.x-dialog-normal .x-dialog-body {
    padding: 1px;
}

.toolbarbtn{
	margin-bottom:5px; margin-right:2px;border-radius:2px;
}

.savebtn{
	color:#fff;background-color:#4F77AA;
}
.cancelbtn{
	color:#fff;background-color:#4F77AA;margin-right:2px;
} 
.refeshbtn{
	margin-bottom:5px; margin-right:2px;color:#fff;background-color:#4F77AA;
}
.findbtn{
	color:#fff;background-color:#4F77AA;
}
 .custombtn{
	margin-bottom:5px; margin-right:2px;color:#fff;background-color:#4F77AA;
}
.x-checkbox input[type="checkbox"]:checked+label:before{
	background-color:#4F77AA;
}


.gridoverflow{
	overflow-x:hidden;  
}

.flexdiv{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	text-align:left; 
	justify-content:flex-end;
}

.bomdivCss{
	border-radius: 5px;
    display: inline-block;
    margin: 0px 2px;
    padding: 0px 3px;
    font-size:10px;
}
