.x-control-group-title{
	background-color: #fff;
	color:#000;
	padding:0px;
} 
.grid-even-row{
	background-color: #e8e8e8;
}
  
 .baseCss{
	border-style:solid  solid  solid  solid;
	border-width:thin thin thin thin;
	border-color:#E0E0E0; 
}
 
.btnCss{
	padding-left:0px;
	padding-right:5px;
}

.form-control{ 
   box-shadow: none;
}
 
 
 .x-dialog.x-dialog-normal .x-dialog-body {
    padding: 1px;
}

.toolbarbtn{
	margin-bottom:5px; margin-right:5px;border-radius:2px;
}

.savebtn{
	color:#fff;background-color:#4F77AA;
}
.cancelbtn{
	color:#fff;background-color:#4F77AA;margin-right:10px;
} 
.refeshbtn{
	margin-bottom:5px; margin-right:5px;color:#fff;background-color:#4F77AA;
}
.findbtn{
	color:#fff;background-color:#4F77AA;
}

.linkbtn{
	color:#4F77AA;margin-right:2px;margin-top:2px;
	padding:2px;
}

.x-checkbox input[type="checkbox"]:checked+label:before{
	background-color:#4F77AA;
}

.gridoverflow{
	overflow-x:hidden; 
}

.toolbarbtn{
	margin-bottom:5px; margin-right:2px;border-radius:2px;
}

 .custombtn{
	margin-bottom:5px; margin-right:2px;color:#fff;background-color:#4F77AA;
}